<?xml version="1.0"?>
<!-- 
    Nota: come alternativa alla modifica manuale del file, è possibile utilizzare 
    lo strumento di amministrazione Web per configurare le impostazioni dell'applicazione. Scegliere
    il comando Configurazione di ASP.NET dal menu Sito Web in Visual Studio.
    Un elenco completo di impostazioni e commenti è disponibile nel file 
    machine.config.comments che si trova in genere in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>

      <!--LogMeBot app settings, add your app credentials here - returUrl=http://localhost:63645-->
      <add key="LogMeBotClientId" value="0ada9204-d85b-41a2-9c6a-1a52df4c8b71.authbot.com" />
      <add key="LogMeBotClientSecret" value="/oh6Sh6cuATLNFO3i7K1i/U+HMfAGSIQ2oLfER4q+MI=" />    
    
  </appSettings>
  
  <connectionStrings/>
  
  <system.web>
    <!-- 
            Impostare compilation debug="true" per inserire i simboli 
            di debug nella pagina compilata. Poiché questa impostazione 
            influisce sulle prestazioni, impostare questo valore su true solo 
            durante lo sviluppo.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            La sezione <authentication> consente di configurare 
            la modalità di autenticazione della sicurezza utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sezione <customErrors> consente di configurare 
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto della traccia dello stack dell'errore.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        La sezione system.webServer è necessaria per l'esecuzione di ASP.NET AJAX in Internet
        Information Services 7.0, ma non per versioni precedenti di IIS.
    -->
</configuration>