<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
      *************************
      someoneid app settings
      add your app credentials here and callbackuri here 
      **************************
      -->
    <add key="SomeoneClientId" value="0ada9204-d85b-41a2-9c6a-1a52df4c8b71.authbot.com"/>
    <add key="SomeoneClientSecret" value="-oh6Sh6cuATLNFO3i7K1i_U-HMfAGSIQ2oLfER4q-MI="/>
    <add key="SomeoneCallbackuri" value="http://localhost:63645"/>
  </appSettings>
  <connectionStrings/>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>